# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://crossoversupport_db_user:<db_password>@cluster0.82carai.mongodb.net/suraksha_lifecare?retryWrites=true&w=majority&appName=Cluster0

# CORS Configuration
CLIENT_URL=http://localhost:3000
